*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height:100vh;
    width:100vw;
}

.underContainer{
    width:50%;
    height:75%;
    border:solid rgb(83, 189, 33) 2px;
    float:left;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(119, 173, 36, 0.541);
}
.underContainer .buttons{
position: absolute;
bottom:26%;
left:20%;
}

button:hover{
    border-bottom: solid 2px white;
    box-shadow: rgb(72, 77, 72);
}
#map{
  height: 512px;
  width:512px;
  position:absolute;
  
}



button{
    color:white;
    list-style: none;
    background-color: black;
    text-decoration: none;
    border:none;
    border-radius:0%;
    padding:5px 5px;
    z-index: 0;
    
}

.konter{
    background-color: rgb(149, 243, 9);
}

.puzzleSolver{
    float:left;
    width:50%;
    height:75%;
    border:solid grey 2px;
    background-color: lightblue;
    justify-content: center;
    display: flex;
   
}



#puzzleDivContainer{
    clear:both;
    margin:0 auto;
    width:100%;
    width:1752px;
    height:240px;
    

    display: flex;
    flex-wrap:wrap;
    background-color: rgb(115, 165, 41);
}

#puzzleDivContainer img{
    height:119px;
    width:218px;
    border:solid 0.5px;

}

#PuzzleBox{
    height:480px;
    width:876px;
    border:solid 2px white;
    display: flex;
    flex-wrap:wrap;
    align-self: center;
}

#PuzzleBox img{
    height:119px;
    width:218px;
    border:solid 0.5px rgb(187, 11, 11);
}





.buttons{
    align-content: space-between;
}
#printHere {
    position: fixed;
    top: 5%;
    left: 11.48%;
    font-size: 1.2em;
    border:solid 2px rgb(54, 202, 54);
    background-color: rgba(149, 243, 9, 0.541);
    color:rgb(9, 48, 156);
   }

#loc{
    position:absolute;
    top:0;
    left:0;
    width:10%;
    height:3vh;
    margin-left: 5px;
    margin-top: 5px;
}